@{
    ViewData["Title"] = "Home Page";
}

<body >
    <div style="display:block; text-align:center">
        <h2><strong>CADASTRO</strong></h2>
    </div>
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 modal-content" style="padding-top:2%; padding-bottom: 2%">
            <br />
            <br />
            <a class="btn btn-block btn-primary" asp-controller="Empresa" asp-action="ListaEmpresas">EMPRESAS</a>
            <br />
            <a class="btn btn-block btn-primary" asp-area="" asp-controller="Cosif" asp-action="ListaCosif">PLANO COSIF - BACEN</a>
            <br />
            <a class="btn btn-block btn-primary" asp-area="" asp-controller="ModeloDF" asp-action="ListaModelos">MODELOS DE DEMONSTRAÇÕES FINANCEIRAS</a>
            <br /><br /><br />
        </div>

        <div class="col-sm-2"></div>
    </div>
</body>
