
@{
    ViewData["Title"] = "Importar Cadoc";
}

<h2>Importar CADOC</h2>


<hr />
<div class="modal-content">
    <div class="container">
        <div class="row">
            <section>
                <form method="post" enctype="multipart/form-data" asp-controller="Balancete" asp-action="ImportarCADOC">
                    <div class="form-group">
                        <div class="col-md-8">
                            <p> Enviar um ou mais arquivos : </p>
                            <input type="file" name="arquivos" multiple class="btn btn-block btn-primary" />
                            <br />
                        </div>
                        <div class="col-md-2" style="display:block; text-align:right">
                            <input type="submit" value="Importar arquivo" class="btn btn-block btn-success btn-import" />
                            <a type="buttom" asp-action="MenuBalancete" class="btn btn-block btn-danger"> Cancelar</a>
                        </div>
                        <div class="col-md-2">
                            <span class="spinner"><img class="grande" src="~/images/spinner.gif" alt="Spinner" /></span>
                        </div>
                    </div>

                </form>
            </section>
        </div>
        <br />
        <br />
        @if (@ViewBag.Erro != null)
        {
            <h3 class="danger">@ViewBag.Erro</h3>
            <br />
            <br />
        }
        @if (@ViewBag.Resultado != null)
        {
            <h3 class="success">@ViewBag.Resultado</h3>
            <br />
            <br />
        }
    </div>

</div>
