
@{
    ViewData["Title"] = "MenuBalancete";
}


<body>
    <div class="container">
        <div style="display:block; text-align:center">
            <h2><strong>MENU BALANCETE</strong></h2>
        </div>
        <br />

        <div class="col-sm-5 modal-content" style="padding-bottom: 2%">
            <div class="page-header"  >
                <h4 style="font-weight:bold">Importar Balancete   <span class="glyphicon glyphicon-import"></span></h4>
            </div>
            <a data-btn-empresa class="btn btn-block btn-primary" asp-controller="" asp-action="">Consumir API <span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
            <a data-btn-cosif class="btn btn-block btn-primary" asp-area="" asp-controller="" asp-action="">Importar Tabela <span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
            <a data-btn-modelo class="btn btn-block btn-primary" asp-area="" asp-action="ImportarCADOC">Importar Cadoc  <span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-5 modal-content" style="padding-bottom: 2%">
            <div class="page-header">
                <h4 style="font-weight:bold">Balancetes <span class="glyphicon glyphicon-list-alt"></span></h4>
            </div>
            <a data-btn-empresa class="btn btn-block btn-primary"  asp-action="Balancete">Consultar * Editar => Balancete<span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
            <a data-btn-modelo class="btn btn-block btn-primary" asp-area="" asp-controller="" asp-action="" >Comparativo entre 2 meses <span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
            <a data-btn-cosif class="btn btn-block btn-primary" asp-area="" asp-controller="" asp-action="">Comparativo até 12 meses sequenciais <span class="spinner"><img src="~/images/spinner.gif" alt="Spinner" /></span></a>
            <br />
        </div>


    </div>
</body>